stages:
  - main

gitleaks_scan:
  image: zricethezav/gitleaks:latest
  stage: main
  script:
    - gitleaks detect --source . -o gitleaks-report.json
  artifacts:
    paths:
      - gitleaks-report.json

njs_scan:
  stage: main
  image: node
  before_script:
    - npm install -g @nintechnet/njs-scan
  script:
    - njsscan . -f json -o njsscan-report.json
  artifacts:
    paths:
      - njsscan-report.json

semgrep_scan:
  stage: main
  image: returntocorp/semgrep:latest
  script:
    - semgrep --config=p/ci . --json > semgrep-report.json  
  artifacts:
    paths:
      - semgrep-report.json

execute:
  stage: main
  image: python
  dependencies:
    - gitleaks_scan
    - njs_scan
    - semgrep_scan
  script:
    - pip install requests
    - python upload.py