stages:
  - main

njs_scan:
  stage: main
  image: node
  before_script:
    - npm install -g @nintechnet/njs-scan
  script:
    - njsscan .

semgrep_scan:
  stage: main
  image: returntocorp/semgrep:latest
  script:
    - semgrep --config=p/ci .
